@use './theme.scss';
@use './theme2.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- CẤU TRÚC CHÍNH CỦA TRANG --- */
.main-header {
  height: var(--header-height);
  background: rgb(202, 139, 139);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.main-footer {
  height: 60px;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  height: 200px;
}

.section-1 {
  background: rgb(218, 217, 159);
  margin-top: calc(var(--header-height) + var(--main-spacing));
  margin-bottom: var(--main-spacing);
}

.section-3 {
  background: rgb(134, 201, 231);
}

// main {
//   padding-top: calc(var(--header-height) + var(--main-spacing));

// }
